{% extends "templates/web.html" %}
{% block page_content %}
<div class="row">
<div class="col-xs-12">
<button class="btn btn-sm btn-primary pull-right" onclick="add_to_basket();">Add to basket</button>
</div>
</div>
<div class="row">
    <div class="col-md-4">
         <div class="form-group">
            <label for="category_selection">Product Category</label>
            <select class="form-control" id="category_selection" onchange="table_filter();">
                <option value="empty" selected>All Product Categories</option>
                {% for category in product_categories %}
                <option value="{{ category.category }}">{{ category.category }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
         <div class="form-group">
            <label for="brand_selection">Brand</label>
            <select class="form-control" id="brand_selection" onchange="table_filter();">
                <option value="empty" selected>All Product Brands</option>
                {% for brand in product_brands %}
                <option value="{{ brand.attribute_value }}">{{ brand.attribute_value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
         <div class="form-group">
            <label for="item_selection">Item Name</label>
            <input type="text" class="form-control" id="item_selection" onkeyup="table_filter();"></input>
        </div>
    </div>
</div>

<table style="width: 100%;">
    <tr style="vertical-align: top; border-bottom: 1px solid silver; border-top: 1px solid silver;">
        <th>{{ _("Product<br>Category") }}</th>
        <th>{{ _("Brand") }}</th>
        <th>{{ _("Item Name") }}</th>
        <th colspan="2">{{ _("Price") }}</th>
        <th>{{ _("In Stock") }}</th>
        <th style="width: 70px;">{{ _("Order") }}</th>
        <th>{{ _("Total") }}</th>
    </tr>
    <tbody id="product_table">
        {% for item in item_table %}
            <tr>
                <td class="category_td">{{ item.categories|join(', ') }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.item_name }}</td>
                <td style="text-align: center;">{{ item.currency }}</td>
                <td style="text-align: right;">
                    {% if item.default_rate|int > 0 %}{{ "{:,.2f}".format((item.default_rate * 1.077)).replace(",", "'") }} / {% endif %}
                    {% if item.rate != 'N/A' %}{% if item.default_rate|int > 0 %}<b>{% endif %}{{ "{:,.2f}".format((item.rate * 1.077)).replace(",", "'") }}{% if item.default_rate|int > 0 %}</b>{% endif %}{% else %}N/A{% endif %}
                    </td>
                <td style="text-align: center;">
                    {% if item.stock_uom != item.uom %}
                    {{ item.stock_qty }}x {{ item.stock_uom }}{{ _("Stk") }}
                    {% else %}
                    {{ item.stock_qty }}{{ _("Stk") }}
                    {% endif %}</td>
                <td>
                    <input id="{{ item.item_code }}-qty" type="number" class="form-control order_amount" data-rate="{{ item.rate }}" data-itemcode="{{ item.item_code }}" defaultValue="0" min="0" onchange="calc_total('{{ item.item_code }}-qty');"></input>
                </td>
                <td id="{{ item.item_code }}-total" style="text-align: right;">0.00</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
